<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 

    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/wallpaper/styles_wallpaper.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/145af3cbdd.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>
<header style="border-bottom: solid 2px white ;position: fixed; top: 0; width: 100%; background: radial-gradient(#0d1d31 0%, #303044 100%); z-index: 1;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent box-shadow">
        <div class="container">
            <a style="font-size: 35px" class="navbar-brand text-white" asp-area="" asp-page="/Index">Ethan Francois</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a style="font-size: 25px" class="nav-link text-white" asp-area="" asp-page="/Index">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 25px" class="nav-link text-white" asp-area="" asp-page="/">Certifications and Training</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 25px" class="nav-link text-white" asp-area="" asp-page="/">Career</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 25px" class="nav-link text-white" asp-area="" asp-page="/">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 25px" class="nav-link text-white" asp-area="" asp-page="/">Connection</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
<div class="container" style="position: relative; top: 110px" >
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer style="border-top: solid 2px white; position: absolute; width: 100%; bottom: 0px;">
    <div class="container" style="display: flex; justify-content: space-between; align-items: center;" >
        <p style=" text-align: center; width: 301px;">Ethan Francois</p>
            <p style=" text-align: center; width: 301px;">&copy; 2023 - Portfolio</p>
            <ul style=" text-align: center; width: 301px; list-style: none;">
            <li><a href="#">Manage Cookies</a></li>
            <li><a href="#">GoogleHighSpeed Certifcation</a></li>
            <li><a href="#">More Informations</a></li>
        </ul>

    </div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>